* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type="file"] {
  display: none;
}

.wrapper {
  display: flex;
}

.inputoutput {
  max-width: 33vw;
  max-height: 50vh;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 12px;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.custom-file-upload:hover {
  background-color: rgb(201, 234, 255);
  transition: all .15s ease-in-out;
}