* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Segoe UI", sans-serif;
  color: hsla(0, 0%, 100%, .9);
  font-size: 15px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #292c31;
}

input[type="file"] {
  display: none;
}

.output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.output {
  /* width: 25vw;
  height: 60vh; */
  max-width: 40vw;
  max-height: 60vh;
  border-radius: 14px;
  border: 2px solid #424549;
}

[src=''] {
  min-width: 25vw;
  min-height: 60vh;
}

.inputoutput {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.dark-button {
  color: #ffffff99;
  border: 2px solid hsla(0, 0%, 100%, .05);
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 12px;
  font-size: 18px;
  transition: all .15s ease-in;
}

.dark-button:hover {
  color: #ffffffe6;
  border: 2px solid #ffffff0d;
  box-shadow: 0 0 10px #424549;
  background-color: #ffffff0d;
  transition: all .15s ease-in;
}